body{background-color: #fff;}

.fixed{position: fixed;background-color: #4767a1;}
#header{width: 100%; height: 7rem; position: fixed; z-index: 1;}
#header nav ul{width: 50%;}
#header nav h1{font-size: 3rem; line-height: 7rem; position: relative; color: #fff;}
#header nav h1::before{content: ""; width: 1.5rem; height: 1.5rem;
    background-color: #ff9921; border-radius: 50%; display: block;
    position: absolute; right: -2rem; top: 3.5rem;
}
#header nav ul li a{font-size: 2.2rem; line-height: 7rem; font-weight: 700; color: #fff;}
.sub2_main{position: relative;}
#header nav ul li a:hover{color: #ff9921;}
.main_bg{background: url(../images/sub2_bg.png) no-repeat;
    width: 100%; height: 56.2rem; position: absolute; top: 0;
    z-index: -1;
}
.m_header{display: none;}
.m_menu{display: none;}
.main_txt{text-align: center;}
.main_txt h1{font-family: "JalnanGothicTTF"; font-size: 3.8rem; margin-bottom: 2rem;}
.main_txt p{font-size: 3.2rem; font-weight: 300; color: #666; margin-bottom: 2rem;}
.main_txt a{display: block; max-width: 30rem; width: 100%; height: 6rem;
    background-color: #4767a1; border-radius: 50px; padding: 2rem;
    margin: 0 auto; transition: all 0.4s ease-in-out;
    margin-bottom: 10rem;
}
.main_txt a:hover{background-color: #ff9921;}
.main_txt a span{line-height: 1; font-size: 2rem; font-weight: 700; color: #fff; position: relative;}
.main_txt a span::before{content: ""; display: block; background: url(../images/next.svg) no-repeat;
    position: absolute; right: -5rem; top: -2px; width: 3rem; height: 3rem;
}
.beaf{width: 100%;}
.beaf img{margin: auto; display: block;}

.page{margin-top: 5rem;}

.sub3{width: 100%; height: 100vh;}
.sub3 div{width: 100%; height: 100%;}
.package{
    background: url(../images/nuts.jpg) no-repeat;
    background-size: 100%;
    display: block;
    width: 100%; height: 8300px;
}
.package2{
    background: url(../images/nuts2.jpg) no-repeat;
    background-size: 100%;
    display: block;
    width: 100%; height: 1500px;
}

@media (max-width: 1300px) {
    #header{display: none;}
    .m_header{padding: 2rem; z-index: 100; width: 100%; height: 5rem;
    position: absolute; left: 0; top: 0; display: block;}
    .m_header_inner{width: 100%; height: 100%;}
    .m_header_inner h1{font-size: 3rem; color: #fff; line-height: 5rem; position: relative;}
    .m_header_inner h1::before{position: absolute; right: -2.5rem; bottom: 0; content: "";
    display: block; width: 1.5rem; height: 1.5rem; background-color: #ff9921; border-radius: 50%;
    }
    .m_header_inner i{display: block; background: url(../images/menu_w.svg) no-repeat;
    width: 5rem; height: 5rem;
    }
    .m_menu{display: none; position: absolute;
    width: 50%; height: 100%; background-color: #4767a1;
    box-shadow: 2px 2px 6px rgba(255,255,255,0.5);
    right: 0; top: 0; z-index: 100;
    }
    .closeBtn{background: url(../images/close_icon_w.svg) no-repeat; 
        width: 5rem; height: 5rem; position: absolute; right: 2rem;
        top: 2rem; cursor: pointer; transition: all 0.3s;
    }
    .closeBtn:hover{transform: rotate(180deg);}
    .m_menulist ul{margin: 10rem 5rem;}
    .m_menulist ul li a{display: block; color: #fff; color: #fff;
        font-size: 4rem; height: 10rem; line-height: 2.5;
        padding: 0 3rem; transition: all 0.4s ease-in-out;
    }
    .m_menulist ul li a:hover{
        background-color: rgba(255,255,255,0.3);
        border-radius: 50px; line-height: 2.5;
    }
    .main_bg{height: 35rem; background-size: cover;}

    @media (max-width:750px) {
        .m_menu{width:100%;}
        .main_bg{height: 25rem; background-size: cover;}
        .main_content img{margin-top: 10rem;}
        .main_txt h1{font-size: 2.6rem;}
        .main_txt p{font-size: 2.4rem;}
        .beaf{padding: 0 3rem;}
        .page{padding: 0 3rem;}
    }
    @media (max-width:450px) {
        .main_txt h1{font-size: 2rem;}
        .main_txt p{font-size: 1.8rem;}
        .m_menu{width:100%;}
    }
}